:root {
  /** colors */
  --color-name: custom;
  --color-bg-shade: #090B0E;
  --color-bg-base: #0B0E12;
  --color-bg-surface: #0D1116;
  --color-bg-highlight: #0F1419;
  --color-fg-shade: #9FADC9;
  --color-fg-base: #D8DEE9;
  --color-fg-surface: #FFFFFF;
  --color-fg-highlight: #FFFFFF;
  --color-primary-bg: #516790;
  --color-primary-base: #D8DEE9;
  --color-primary-fg: #FFFFFF;
  --color-secondary-bg: #0A151E;
  --color-secondary-base: #1E405B;
  --color-secondary-fg: #589fd8;
  --color-palette-red: #E06C75;
  --color-palette-green: #98C379;
  --color-palette-yellow: #E5C07B;
  --color-palette-blue: #61AFEF;
  --color-palette-purple: #C678DD;
  --color-palette-cyan: #56B6C2;
  --color-palette-orange: #FFBB7C;
  
  /** general */
  --font-family: Monoki;
  --display-image: block;

  /** surface */
  --surface-maxWidth: 1290px;
  --surface-shadow: 5px 5px 11px #516790;
  --surface-borderRadius: 18px;

  /** spacing */
  --space-smallest: 0.125rem;
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --space-largest: 3rem;

  /** others */
  --picture-size: 300px;
  --group-count: 7;
}
